{% extends 'accounts/base.html' %}
{% load static %}

<!--page title-->
{% block body %}

<div class="container">

    <form action="{% url 'delete_payment' payment.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="payment_id" value="{{payment.id}}">

        <p class="success" style="padding: 40px;padding-left: 0px;">Are you sure you want to delete {{payment.reference}}?</p>
        
        

        
        <div class="btn-group">
            <button class="btn btn-success" type="submit">Yes</button>
            <a href="{% url 'accounts' %}" class="btn btn-warning" type="submit">No</a>
        </div>    

    </form>

</div>

{% endblock %}